body {
	min-width:540px;
	background-color: Gainsboro;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(logo.png);
	background-repeat: no-repeat;
	background-position: bottom right;
	background-attachment: fixed;
}
